<h2> Device Model </h2>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Path</th>
    <th>Multi Instance</th>
    <th>Access Type</th>
    <th>Params</th>
    <th>Events</th>
    <th>Cmds</th>
  </tr>
  <tr ng-repeat="x in Objs">
    <td>{{x.EndpointID}}</td>
	<td>{{x.Path}}</td>
	<td>{{x.MultiInstance}}</td>
	<td>{{x.Access}}</td>
	<td>
	  <div ng-show=x.Params.length>
        <table>
		    <tr><th>Name</th><th>Access</th></tr>
			<tr ng-repeat="y in x.Params">
			  <td>{{y.Name}}</td>
			  <td>{{y.Access}}</td>
			</tr>
		  </table>
      </div>
	</td>
	<td>
	  <div ng-show=x.Events.length>
        <table>
		    <tr><th>Name</th><th>Args</th></tr>
			<tr ng-repeat="y in x.Events">
			  <td>{{y.Name}}</td>
			  <td>{{y.Args}}</td>
			</tr>
		  </table>
        </div>
	</td>
	<td>
	  <div ng-show=x.Cmds.length>
        <table>
	      <tr><th>Name</th><th>Inputs</th><th>Outputs</tr>
			<tr ng-repeat="y in x.Cmds">
			  <td>{{y.Inputs}}</td>
			</tr>
			<tr ng-repeat="y in x.Cmds">
			  <td>{{y.Outputs}}</td>
			</tr>
		  </tr>
		  </table>
        </div>
	</td>
</tr>
</table>
